{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@app": "./src/app",
        "@assets": "./src/app/assets",
        "@components": "./src/app/components",
        "@config": "./src/config",
        "@constants": "./src/constants",
        "@propTypes": "./src/propTypes",
        "@redux": "./src/redux",
        "@screens": "./src/app/screens",
        "@services": "./src/services",
        "@utils": "./src/utils"
      }
    }]
  ]
}
